<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
  <listener class-name="com.seleniumdemo.listners.CustomListner"></listener>
</listeners>
  <test parallel="classes" thread-count="4" name="Test">
    <classes>
      <class name="com.seleniumdemo.listners.OrangeHRMLoginTest"/>
      <class name="com.seleniumdemo.listners.OrangeHRMTest" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
